body {
    margin:0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}

.top_bar_wrapper{
    background-color: greenyellow;
    position:absolute;
    top:0;
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.top_bar_container{
    background-color: orangered;
    display: flex;
}

.tb_self_view_container{
    display: flex;
}

main{
    /* background-color: hotpink; */
    flex:1;
}

.bottom_bar{
    background-color: orange;
    position: absolute;
    bottom: 0;
}