body {
    margin:0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}

.top_bar_wrapper{
    position:absolute;
    top:0;
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.top_bar_container{
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 0.5em;
}

.tb_users_wrapper, .tb_chat_wrapper{
    padding:0em 1.6em;
    margin:0.8em 0;
    border-right:1px solid #f1f3f4;
    color:#5f6368;
}

.chat_icon, .users_icon{
    fill:#5f6368;
}

.users_icon{
    vertical-align: top;
}

.time{
    font-size: 20px;
    margin:0 1em;
    color:#5f6368;
}

.tb_self_view_container{
    display: flex;
    height: 100%;
    align-items: flex-end;
    background-color: #f8f9fa;
}

.tb_self_view_container span{
    font-size:12px;
    margin:0.4em;
    color:#5f6368;
}

.account_img{
    height:32px;
    border-radius: 1em;
    margin:.3em .6em;
    align-self: center;
}

.mic_icon_wrapper{
    background-color: #c5221f;
    border-radius: 1em;
    margin:0.2em;
    display: flex;
    align-items: center;
}

.mic_icon{
    fill:#fff;
    padding:0.15em;
}

main{
    background-color: #111;
    flex:1;
}

.bottom_bar_wrapper{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom_bar_wrapper i:not(.call_end_icon){
    color:#5f6368;
    width:24px;
}

.bb_meeting_details_container{
    display: flex;
    align-items: center;
    padding:2em;
}

.bb_meeting_details_container span{
    font-size: 18px;
    color: #202124;
}

.bb_meeting_details_container i{
    margin-left:0.2em;
}

.bb_option_container{
    display: flex;
    align-items: center;
    position: relative;
}

.present_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1.5em 4em;
}

.present_wrapper span{
    font-size:13px;
    margin:0.3em;
    color:#5f6368;
}

.more_icon{
    padding:1.5em 0.5em;
}

.bb_call_control_container{
    display: flex;
    align-items: center;
}

.bb_call_control_container i{
    border: 1px solid #dadce0;
    border-radius: 50%;
    padding:0.7em;
    margin:0.4em;
}

.bb_call_control_container i:hover{
    box-shadow:0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149)
}

.bb_meeting_details_container:hover, .present_wrapper:hover, .more_icon_wrapper:hover{
    background-color: #f8f9fa;
}

.call_end_icon{
    color:#c5221f;
}

.option_list_container, .present_bt_list_wrapper{
    /* display: none; */
    position: absolute;
    bottom:7em;
    right:1em;
    background-color: #fff;
    border-radius: 0.5em;
}

.option_list_container ul{
    list-style-type: none;
    padding:0;
}

.option_list_container ul li,
.present_bt_list_wrapper ul li{
    padding:0.6em 2em;
    padding-right:4em;
    font-size:14px;
    color:#202124;
}

.option_list_container .material-icons-outlined,
.present_bt_list_wrapper .material-icons-outlined{
    vertical-align: middle;
    margin-right:0.5em;
}

.option_list2_wrapper{
    border-top:1px solid rgba(0,0,0,0.12);
}

.option_list_container li:hover,
.present_bt_list_wrapper li:hover{
    background-color: #f8f9fa;
}

.present_bt_list_title{
    display: inline-block;
    padding:1.5em 1em;
}

.present_bt_list_wrapper ul{
    padding:0;
    list-style-type: none;
    margin-top:0;
    font-size: 15px;
}

.present_list{
    display: flex;
}

.present_list span{
    font-size: 13px;
    display: inline-block;
    width:13em;
    color: rgba(38,50,56,0.67);
}

.details_bt_list_wrapper{
    position: absolute;
    bottom:7em;
    left:1em;
    background-color: #fff;
    border-radius:0.5em;
    color:#5f6368;
}

.detail_list_tab{
    display: flex;
}

.detail_list_tab .material-icons-outlined{
    vertical-align: middle;
    margin-right:0.5em;
}

.detail_list_tab div{
    width:50%;
    text-align: center;
    padding:1em 3em;
}

.detail_list_tab div:hover{
    color:#00796b;
}

.detail_list_content{
    border-top:1px solid rgba(0,0,0,0.12);
    padding:4em 8em;
}