@font-face{
    font-family: 'Product Sans';
    src:url(/assets/font/ProductSans-Regular_7a2a56c145b5d37f87bcdb656af0ddea.ttf);
}

.header{
    display:flex;
}

.logo{
    margin-right: auto;
    font-family: 'Product Sans',Arial,sans-serif;
    color: #5f6368;
    font-size: 22px;
}

.logo img{
    height: 40px;
    vertical-align: middle;
}



